.__black {
    background: black;
}

.__contactInfo {
    margin-left: 10px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    padding: 12px;
    width: 267px;
    height: 92px;
    color: black;
}
