
.__interest {
    margin-left: 10px;
    width: 267px;
    height: 177px;
}

.__interest_rows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 243px;
    height: 116px;
}

.__interest_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.__interest__item {
    margin: 2px;
    border-radius: 40px;
    padding: 4px 10px;
    height: 23px;
    background: #fff;
}
